<div class="row text-center">
	<div class="col-xs-12 col-md-4">
		<a ng-click="reflector()"><div class="left column">
			<div class="text-holder">
				<h2>Reflector&reg; <br>Enhancer</h2>
			</div>
		</div></a>
	</div>
	<div class="col-xs-12 col-md-4">
		<a ng-click="industrial()"><div class="center column">
			<div class="text-holder">
				<h2>Industrial <br>Systems</h2>
			</div>
		</div></a>
	</div>
	<div class="col-xs-12 col-md-4">
		<a ng-click="overlay()"><div class="right column">
			<div class="text-holder">
				<h2>Concrete <br>Overlays<h2>
			</div>
		</div></a>
	</div>
</div>